<%= form_with scope: :candidate, class: 'shake', url: candidates_path, remote: true , id: 'candidate-form' do |form| %>
  <!-- Name -->
  <div class="form-group label-floating">
    <%= form.label :name, :html => {:class => "control-label"}%>
    <%= form.text_field :name, class:"form-control", required: true%>
    <div class="help-block with-errors"></div>
  </div>
  <!-- email -->
  <div class="form-group label-floating">
    <%= form.label :email, :html => {:class => "control-label"}%>
    <%= form.text_field :email, class:"form-control", required: true%>
    <div class="help-block with-errors"></div>
  </div>
  <div class="float-right row">
    <!-- Form Cancel -->
    <% if @edit == true %>
    <div class="mt-3 mr-3">
      <button class="btn btn-dark" type="submit" id="form-submit">
        <i class="material-icons mdi mdi-message-outline"></i> Cancel
      </button>
      <div id="msgSubmit" class="h3 text-center hidden"></div>
      <div class="clearfix"></div>
    </div>
    <% end %>
    <!-- Form Submit -->
    <div class="form-submit mt-3">
      <button class="btn btn-dark" type="submit" id="form-submit">
        <i class="material-icons mdi mdi-message-outline"></i> Apply
      </button>
      <div id="msgSubmit" class="h3 text-center hidden"></div>
      <div class="clearfix"></div>
    </div>
  </div>
<% end %>